/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-family: sans-serif;
}

.hide {
  display: none;
}

/******************************************
/* LAYOUT
/*******************************************/

img{
  display: block;
  margin: 0 auto;
}

body {
  background-color: rgba(244, 244, 248, 1)
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

/******************************************
/* NAVIGATION
/*******************************************/

.primary-nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  height: 85px;
  /* width: 80%; */
  width: 350px;
  max-width: 50%;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.primary-nav-links {
  /* padding-top: 43px; */
  color: rgba(115, 115, 115, 1);
  font-size: 1.5em;
  font-weight: 600;
  text-decoration: none;
}

/* need ul, li to fill container so that a can fill container and border bottom / color change to red at the same time */
ul, .nav-item-container{
  height: 100%;
  /* needed to center text since pokeball image takes up space on same line as anchor*/
  padding-right: 2em
}

nav img {
  height: 30px
}

.nav-item-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 125%;
}

/* TODO: add a bouncy animation to pokeball */

/******************************************
/* Search Bar
/*******************************************/

.search-bar-container {
  position: relative;
  height: 50px;
  /* width: 80%; */
  width: 350px;
  max-width: 50%;
  background-color: white;
  border-radius: 10px;
  padding-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.search {
  border: none;
  height: 100%;
  width: 80%;
  border-radius:10px;
  outline: 0;
}

input,
input::placeholder {
    font-size: 15px;
    padding-top: 6px;
}

.search-bar-container:hover, .search-bar-container:focus {
    border: 0.5px solid #FF3131;
    background-color: white;
  }

.search-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  height: 25px;
  width: 25px;
  background-color: rgba(247, 33, 25);
  border: none;
  border-radius: 5px;
  box-shadow: rgba(247, 33, 25, 0.9) 4px 3px 10px;
}

.circle {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  }

.pokeball-white {
  height: 15px;
  width: 15px;
}


/******************************************
/* DISPLAY AREA
/*******************************************/

.display-area-container {
  position: relative;
  margin-top: 60px;
  display: flex;
}

.pokemon-image, .pokemon-image2 {
  position: absolute;
  top: -47px;
  /* may need to get rid of when adding more cards */
  /* maybe include this class as part of flex container and then position with absolute to adjust, card-container may need position: relative for this to work */
  right: 75px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 80%;
}

.card-info #number {
  color: grey;
  font-size: 12px;
  font-weight: bold;
}

.card-info #name {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  text-transform: capitalize;
}

/* TODO: add colors for each type */
.type-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 130px;
}

.card-info #type1, .card-info #type2 {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.type1-container {
  display: none;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  background-color: white;
  border-radius: 5px;

}

.type2-container {
  display: none;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  margin-left: 10px
}

.title {
  position: absolute;
  top: -3px;
  left: 57.21px;
  text-transform: uppercase;
  font-weight: bold;
}

.dex-entry {
  position: relative;
  top: 15px;
  padding: 14px;
  height: 110px
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* used to flip pokemon card */

/* The flip card container */
.flip-card {
  height: 160px;
  width: 250px;
  perspective: 1000px; /* Gives a 3D effect */
  transform: none;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform: none;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
/* equivalent to .card-container */
.flip-card-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Style the back side */
.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.card-info-back {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
